# ==========================================
# ARCHER2 OPENFOAM BENCHMARK CONFIGURATION
# ==========================================

# 1. Environment Settings
FOAM_MODULE="openfoam/com/v2212"
FOAM_SOURCE_CMD="source \${FOAM_INSTALL_DIR}/etc/bashrc"

# 2. Slurm Submission Arguments
SLURM_SETUP_ARGS="--nodes=1 --time=00:20:00 --qos=short --exclusive"
SLURM_RUN_ARGS="--nodes=6 --ntasks-per-node=16 --time=00:20:00 --qos=standard --exclusive"

# 3. Benchmark Parameters
NUM_TRIALS=10

# 4. Mesh & Decomposition Settings (Targeting 96 cores / 10M cells)
MESH_DIMS="(60 24 24)"
SUBDOMAINS=96
HIERARCHICAL_COEFFS="n (6 4 4);"

# Graph500
SLURM_ACCOUNT="ta222-ta222ezeh1"
SLURM_QOS="standard"
SLURM_PARTITION="standard"
